@page "{id:int}"
@model Project.NET.Pages.TakeQuizModel
@{
}
<form method="post">
    <input type="hidden" asp-for="currentQuiz" value=@Model.currentQuiz>
    <input type="hidden" asp-for="numberOfQuestions" value=@Model.quiz.numberOfQuestions>
    <input type="hidden" asp-for="currentQuestion" value=@Model.questions[Model.currentQuestion].id>


    <h1>Question @Model.visibleQuestion of @Model.quiz.numberOfQuestions</h1>
    <div class="card" style="border-color: #68BBE3">
        <div class="card-header" style="background-color: #055C9D;">
            <h3 style="color:whitesmoke">@Model.questions[Model.currentQuestion].question</h3>
        </div>
        <div class="card-footer" style="background-color: #0E86D4">
            @{ Random rand = new Random();
                int rnd = rand.Next(1, 5);
                if (rnd == 1)
                {
                    <label>
                        <input type="radio" asp-for="answer" value="good"><text style="color: whitesmoke">@Model.questions[Model.currentQuestion].goodanswer</text>
                    </label>
                    <br>
                    <label>
                        <input type="radio" asp-for="answer" value="1" required><text style="color: whitesmoke">@Model.questions[Model.currentQuestion].badanswer1</text>
                    </label>
                    <br>
                    <label>
                        <input type="radio" asp-for="answer" value="2"><text style="color: whitesmoke ">@Model.questions[Model.currentQuestion].badanswer2</text>
                    </label>
                    <br>
                    <label>
                        <input type="radio" asp-for="answer" value="3"><text style="color: whitesmoke">@Model.questions[Model.currentQuestion].badanswer3</text>
                    </label>
                    <br>
                }

                if (rnd == 2)
                {
                    <label>
                        <input type="radio" asp-for="answer" value="3"><text style="color:whitesmoke">@Model.questions[Model.currentQuestion].badanswer3</text>
                    </label>
                    <br>
                    <label>
                        <input type="radio" asp-for="answer" value="good"><text style="color: whitesmoke ">@Model.questions[Model.currentQuestion].goodanswer</text>
                    </label>
                    <br>
                    <label>
                        <input type="radio" asp-for="answer" value="2"><text style="color: whitesmoke ">@Model.questions[Model.currentQuestion].badanswer2</text>
                    </label>
                    <br>
                    <label>
                        <input type="radio" asp-for="answer" value="1" required><text style="color: whitesmoke">@Model.questions[Model.currentQuestion].badanswer1</text>
                    </label>
                    <br>

                }

                if (rnd == 3)
                {

                    <label>
                        <input type="radio" asp-for="answer" value="2"><text style="color: whitesmoke">@Model.questions[Model.currentQuestion].badanswer2</text>
                    </label>
                    <br>
                    <label>
                        <input type="radio" asp-for="answer" value="3"><text style="color: whitesmoke">@Model.questions[Model.currentQuestion].badanswer3</text>
                    </label>
                    <br>
                    <label>
                        <input type="radio" asp-for="answer" value="good"><text style="color: whitesmoke ">@Model.questions[Model.currentQuestion].goodanswer</text>
                    </label>
                    <br>
                    <label>
                        <input type="radio" asp-for="answer" value="1" required><text style="color: whitesmoke">@Model.questions[Model.currentQuestion].badanswer1</text>
                    </label>
                    <br>

                }

                if (rnd == 4)
                {

                    <label>
                        <input type="radio" asp-for="answer" value="1" required><text style="color: whitesmoke">@Model.questions[Model.currentQuestion].badanswer1</text>
                    </label>
                    <br>
                    <label>
                        <input type="radio" asp-for="answer" value="3"><text style="color: whitesmoke ">@Model.questions[Model.currentQuestion].badanswer3</text>
                    </label>
                    <br>
                    <label>
                        <input type="radio" asp-for="answer" value="2"><text style="color: whitesmoke ">@Model.questions[Model.currentQuestion].badanswer2</text>
                    </label>
                    <br>
                    <label>
                        <input type="radio" asp-for="answer" value="good"><text style="color: whitesmoke ">@Model.questions[Model.currentQuestion].goodanswer</text>
                    </label>
                    <br>
                }
            }


            <button type="submit" style="border-radius: 4px; background-color: #45B08C; border-color: #62C1A1 ">Submit  </button>
        </div>

    </div>
</form>